.sidebar-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  position: relative;
}

.sidebar-container.normal {
  width: 240px;
}

.sidebar-container.hidden {
  width: 80px;
}

.sidebar-toggle {
  position: absolute;
  bottom: 24px;
  right: -16px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}
