.quest-container {
  background-color: white;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
}

h2,
h3 {
  margin-top: 0;
}

input[type="text"] {
  width: 300px;
}

button {
  cursor: pointer;
}
