.profile-container {
  background-color: white;
  color: black;
  margin: 20px;
  width: 100%;
  height: 100%;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.challenge-box {
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  max-width: 400px;
}

select,
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: monospace;
}

button {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

button:active {
  background-color: black;
  color: white;
}
